<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to bottom, #9f8ec8 0%, #f5f3fc 100%);
            color: #333;
        }

        .navbar {
            background-color: #dccce6;
        }

        .navbar-brand {
            font-family: 'Lucida Console', Courier, monospace;
        }

        .form-group label {
            font-weight: bold;
        }

        .btn-primary {
            background-color: #4a148c;
            border: none;
        }

        .btn-primary:hover {
            background-color: #6a1b9a;
        }
    </style>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>