<div class="row">
	<main class="col-md-12">

		<!-- Start your code here -->
		<div class="container mt-4">
			<div class="row">
				<main class="col-md-12">
					<h1 class="mb-4">Sujan Acharya</h1>

					<section class="mb-5">
						<h2>Seneca Information</h2>
						<ul class="list-unstyled">
							<li>
								<strong>Email:</strong> sacharya35@myseneca.ca
							</li>
							<li>
								<strong>Student ID:</strong> 152904231
							</li>
						</ul>
					</section>

					<section class="mb-5">
						<div class="media">
							<img src="/images/sujanacharya.jpg" class="mr-3 profile-img" alt="Sujan Acharya">
							<div class="media-body">
								<h2>Personal Bio</h2>
								<p>Hello! I am Sujan Acharya, a passionate web developer and instructor with over 5
									years of experience in the tech industry. I specialize in full-stack web
									development, and I enjoy teaching and sharing knowledge with others. I am committed
									to helping my students excel in their web development careers.</p>
							</div>
						</div>
					</section>

					<section class="mb-5">
						<h2>Education</h2>
						<ul class="list-unstyled">
							<li class="media">
								<div class="media-body">
									<h5 class="mt-0 mb-1">Graduate Certificate in Business Information Technology
										</table>
									</h5>
									<p>Seneca Polytechnic, 2024 - Present</p>
								</div>
							</li>
							<li class="media">
								<div class="media-body">
									<h5 class="mt-0 mb-1">Bachelor of Science in Computer Science and Information
										Technology</h5>
									<p>Tribhuvan University, 2017 - 2022</p>
								</div>
							</li>
						</ul>
					</section>

					<section class="mb-5">
						<h2>Work Experience</h2>
						<ul class="list-unstyled">
							<li class="media">
								<div class="media-body">
									<h5 class="mt-0 mb-1">Senior Web Developer</h5>
									<p>Encoders Inc., 2021 - 2023</p>
									<p>Responsible for leading a team of developers in creating scalable web
										applications using modern frameworks and technologies.</p>
								</div>
							</li>
							<li class="media">
								<div class="media-body">
									<h5 class="mt-0 mb-1">Web Developer</h5>
									<p>Websoft Technology Pvt. Ltd, 2019 - 2021</p>
									<p>Developed and maintained websites for a diverse range of clients, ensuring
										high-quality user experiences and robust performance.</p>
								</div>
							</li>
						</ul>
					</section>

					<section class="mb-5">
						<h2>Skills</h2>
						<ul class="list-inline">
							<li class="list-inline-item badge badge-primary">HTML</li>
							<li class="list-inline-item badge badge-secondary">CSS</li>
							<li class="list-inline-item badge badge-success">JavaScript</li>
							<li class="list-inline-item badge badge-danger">PHP</li>
							<li class="list-inline-item badge badge-warning">Node.js</li>
							<li class="list-inline-item badge badge-info">Flutter</li>
							<li class="list-inline-item badge badge-dark">SQL</li>
						</ul>
					</section>

					<section class="mb-5">
						<h2>Contact Information</h2>
						<p>
							Email: <a href="mailto:acsujan69@gmail.com">acsujan69@gmail.com</a>
						</p>
						<p>
							LinkedIn: <a
								href="https://www.linkedin.com/in/sujan-acharya-a9b922183/">https://www.linkedin.com/in/sujan-acharya-a9b922183/</a>
						</p>
						<p>
							Facebook: <a
								href="https://www.facebook.com/acsujan09">https://www.facebook.com/acsujan09</a>
						</p>
					</section>
				</main>
			</div>
		</div>
		<!-- End your code here  -->

	</main>
</div>