<div class="container">
    <!-- Heading displaying the course description -->
    <h1 class="mt-5">{{course.courseDescription}}</h1>
    
    <!-- Form to update course details -->
    <form action="/course/update" method="POST" class="mt-3">
        <!-- Hidden input to hold the course ID for the form submission -->
        <input type="hidden" name="courseId" value="{{course.courseId}}">
        
        <div class="form-row">
            <!-- Input for the course code -->
            <div class="form-group col-md-6">
                <label for="courseCode">Course Code</label>
                <input type="text" name="courseCode" id="courseCode" class="form-control" value="{{course.courseCode}}" required>
            </div>
            
            <!-- Input for the course description -->
            <div class="form-group col-md-6">
                <label for="courseDescription">Course Description</label>
                <input type="text" name="courseDescription" id="courseDescription" class="form-control" value="{{course.courseDescription}}" required>
            </div>
        </div>
        
        <!-- Submit button to update the course details -->
        <button type="submit" class="btn btn-success float-right">Update Course</button>
    </form>
</div>